<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.api.local.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.api.local.sdk.LsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.api.local.sdk.LsServicePlus"
            android:enabled="true" />
        <!--<service-->
            <!--android:name="com.api.local.sdk.LsJobService"-->
            <!--android:label="Word service"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!--<receiver-->
            <!--android:name="com.api.local.sdk.LsReceiver"-->
            <!--android:process=":remote" >-->
            <!--<intent-filter>-->
                <!--<action android:name=" android.os.action.DEVICE_IDLE_MODE_CHANGED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>